@*@model SimplyRegister.Models.Customer*@
@using Microsoft.AspNet.Identity;
@using SimplyRegister.Models;
@{
    ViewBag.Title = "Customer Home Page";
}

<h2>Customer Home</h2>

<div>
    @{
        ApplicationDbContext db = new ApplicationDbContext();
        var Id = User.Identity.GetUserId();

        var customer = db.Customers.FirstOrDefault(c => c.userId == Id);
        var company = db.Companies.FirstOrDefault(c => c.companyId == customer.customerCompany);

        <div style="font-size: 25px">
            Name: @customer.firstName @customer.lastName<br />
            Company: @company.companyName<br />
            Membership Level: @company.companyMembershipLevel<br />
            Register for Events: <a class="btn btn-default" href="..\Events\Index">See All Events &raquo;</a>
        </div>
        <br/>
        <p style="font-size: 20px">I've Changed Companies! @Html.ActionLink("Click Here", "UpdateCompany", "Customers")</p>
        
       



        @*<p><a class="btn btn-default" href="MyEvents">See Events I'm Registered For</a></p>*@
        }
</div>